body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #333;
    color: #fff;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px 0px 200px;
    img {
        width: 4rem;
        border-radius: 100%;
    }
    div{
        display: flex;
        gap: 1rem;
        a{
            color: white;
        }
    }
}
.box-container{
    width: 100%;
    height: 300px;
    background-color: #707070;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    section{
        width: 50%; 
        max-width: 700px; 
        margin-bottom: 20px;
    }
    .section-1{
        display: flex;
        background: #fff;
        width: 100%;
        .photo-group{
            display: flex;
            flex-direction: column;
            position: absolute;
            bottom: 6rem;
            gap: 1rem;
            .links-sites{
                display: flex;
                justify-content: center;
                gap: 1rem;
                .link-one{
                    width: 2rem;
                    height: full;
                    border-radius: 100%;
                }
            }
        }
        article{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            left: 15rem;
            bottom: 1rem;
            h2{
                font-size: xx-large;
                padding-top: 20px;
                margin: 0;
            }
            
            h3 {
                padding-top: 4px;
                margin: 0;
            }
            p{
                padding-top: 0;
                margin: 0;
                width: 400px;
                text-align: left;
            }

    }
}}
.section-2{
    background-color: #DEDEDE;
    width: 100%;
    color: #707070;
    padding-top: 10px;
    padding-bottom: 10px;
    h3{
        font-size: xx-large;
        display: flex;
        color: #707070;
    }
    .section-content-1{
        border-left: solid 2px black;
        margin-left: 1rem;
        ul{
            padding-left: 1rem;
            list-style: none;
            .meio{
                padding-top: 3px;
                padding-bottom: 3px;
            }
        }
    }
}
.profile-pic {
    display: block;
    margin: 0 auto;
    width: 150px;
    border-radius: 50%;
}
h2, h3 {
    text-align: center;
    color: #333;
}
p {
    text-align: center;
}
.projetos{
    display: flex;
    gap: 1rem;
    .section-projetos{
        display: flex;
        flex-direction: column;
        background: white;
        padding: 1rem;
        img{
            width: 10rem;
        }
        div{
            display: flex;
            gap: 3px;
        }
        p{
            text-align: left;
        }
        button{
            background-color: #585858;
            color: white;
            outline: none;
            border: none;
            border-radius: 10px;
            padding: 2px;
            a{
                text-decoration: none; 
                color: white;
                padding: 3px;

            }

        }
    }
}
footer{
    background-color: black;
    color: white;
}

.section-footer {
    background: black;
    color: #fff;
    display: flex;
    .primeira-parte{
        display: flex;
        flex-direction: column;
        p{
            text-align: left;
            margin-top: 0;
        };
        .imagens-redes{
            padding-top: 1rem;
            display: flex;
            gap: 1rem;
            picture{
                text-align: center;
                img{
                    width: 3rem;
                }
                p{
                    font-size: small;
                }
            }
        }
    }
    .form-ready {
        display: flex;
        flex-direction: column;
        gap: 10px;
        label {
            display: flex;
            flex-direction: column;
            position: relative;
            .input-label {
                position: absolute;
                left: 0;
                font-size: 14px;
                color: white;
            }
            
            input[type="text"] {
                padding: 10px;
                margin-top: 20px; 
            }
        }
        .ultimo-boton{
            display: flex;
            justify-content: center;
            button{
                background-color: #585858;
                color: white;
                outline: none;
                border: none;
                border-radius: 10px;
                padding: 10px;

            }
        }
    }
    
    
}
.email-unico{
    padding-top: 5px;
}
#email-span{
    position: relative;
}