$primary-color: #333;
$secondary-color: #585858;
$background-color: #DEDEDE;
$color-text: #707070;
$background-color-3section: #434343;
$color-3section: #999999;
$background-color-4section: #F2F2F2;
$header-height: 70px;
$border-radius: 10px;
$font-family: 'Poppins', sans-serif;
