footer {
    background-color: black;
    color: white;
  }
  
  .section-footer {
    background: black;
    color: white;
    @include flex-center;
  
    .primeira-parte {
      flex-direction: column;
  
      p {
        text-align: left;
        margin-top: 0;
      }
  
      .imagens-redes {
        padding-top: 1rem;
        @include flex-center;
        gap: 1rem;
  
        picture {
          text-align: center;
  
          img {
            width: 3rem;
          }
  
          p {
            font-size: small;
          }
        }
      }
    }
  }
  