.form-ready {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    label {
      display: flex;
      flex-direction: column;
      position: relative;
      overflow: hidden;
      width: auto;
      span{
        text-transform: uppercase;
        margin-top: 13px;
        font-size: 10px;
      }
      input{
        border: 0;
        outline: none;
        padding: 5px;
        background-color: white;
        border-radius: 2px;
      }
      textarea { 
        border: 0;
        outline: none;
        padding: 5px;
        background-color: white;
        border-radius: 2px;
        height: 50px;
        resize: vertical;
        overflow-y: auto; 
        font-size: 14px;
        line-height: 1.5;
        text-align: left; 
      }
    }
  
    .ultimo-boton {
      @include flex-center;
  
      button {
        background-color: $secondary-color;
        color: white;
        border-radius: $border-radius;
        padding: 10px;
        margin: 1rem 0rem 2rem 0rem;
        border: 0;
        cursor: pointer;
        &:hover{
          background-color: rgb(54, 54, 129);
          transition: 500ms;
        }
      }
    }
  }
  