main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  
    section {
      width: 50%;
      max-width: 700px;
      margin-bottom: 20px;
    }
  
    .section-1 {
      display: flex;
      background: white;
      width: 100%;
  
      .photo-group {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 6rem;
        gap: 1rem;
  
        .links-sites {
          @include flex-center;
          gap: 1rem;
  
          .link-one {
            width: 2rem;
            border-radius: 100%;
          }
        }
      }
    }
  }
  